<!doctype html>
<html lang="fi">
    <head>
        <title>Todo app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>

    <body>
        <div class="header">
            <h1>Todo app</h1>
        </div>

        <div class="content">
            <a href="/">Go back</a>

            <h2>Users</h2>
            <ul>
                {% for user in users %}
                    <li>
                        Username: <br>
                        {{ user.username }}
                        <br>
                        Password: <br>
                        {{ user.password }}
                        <form id="delete-button" action="/delete_user/{{ user.id }}" method="POST">
                            <input type="submit" value="Delete user">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                        <br>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
